<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css"
              href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="../../css/main.css" />
         <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
         
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" >Dish Projects</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
            	<span sec:authorize="isAuthenticated()">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a th:href="@{/hello}">Home</a></li>
	                    <li class="active"><a th:href="@{/auth/all}">Auth Rest</a></li>
	                </ul>
	                <ul class="nav navbar-nav navbar-right">
	                    <li>
	                    	<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Cerrar sesi&oacute;n
              				</a>
             				<form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
	                    </li>
	                </ul>
            	</span>
            	<span sec:authorize="!isAuthenticated()">
	                <ul class="nav navbar-nav">
	                    <li class="active"><a th:href="@{/public/all}">Public Rest</a></li>
	                </ul>
            	</span>
            </div>
        </div>
    </nav>
</div>

</body>
</html>