
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>.: Dish Projects :.</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
	
	<div class="starter-template">
        <h1>Proyectos</h1>
        
        <div sec:authorize="hasRole('ADMIN')">
	        <a class="btn btn-primary" href="#" style="float: right;" th:href="@{/create}"> Nuevo Proyecto </a>
        </div>
        
        <table class="table table-striped table-primary">
		    <thead class="ttop">
		        <tr class="table-info">
		            <th> Nombre </th>
		            <th> Fecha de Inicio </th>
		            <th> Project Manager </th>
		            <th> Descripci&oacute;n </th>
		            <div sec:authorize="hasRole('USER')">
			            <th> Ver </th>
		            </div>
		      		<div sec:authorize="hasRole('ADMIN')">
		            	<th> Editar </th>
		            	<th> Borrar </th>
		            </div>	
		        </tr>
		    </thead>
		    <tbody>
				<tr th:if="${projects.empty}">
					<td colspan="2"> Sin proyectos </td>
				</tr>
		        <tr th:each="project : ${projects}">
		            <td><span th:text="${project.projectName}">  </span></td>
		            <td><span th:text="${project.startDate}"> </span></td>
		            <td><span th:text="${project.projectManager}"> </span></td>
		            <td><span th:text="${project.projectDescription}"> </span></td>
		            <div sec:authorize="hasRole('USER')">
		            	<td><span><a th:href="@{/view/{id}(id=${project.projectId})}"><i class="far fa-eye"></i></a></span></td>
		            </div>
		            <div sec:authorize="hasRole('ADMIN')">
		            	<td><span><a th:href="@{/edit/{id}(id=${project.projectId})}"><i class="far fa-edit"></i></a></span></td>
		            	<td><span><a th:href="@{/delete/{id}(id=${project.projectId})}"><i class="far fa-times-circle"></i></a></span></td>
		            </div>
		        </tr>
		    </tbody>
		</table>
    </div>

</div>

</body>
</html>